
/* Utility */

body {
    background: linear-gradient(90deg, #46A098 0%, #54A654 100%);
    font-family: "PT Sans", sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.inner-container {
    margin: 0 auto;
    max-width: 113.75rem;
    padding: 0 1rem;
}

main section.inner-container {
    padding-top: 0;
}

/* Typography */

h1 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1;
    font-style: normal;
    margin-bottom: 1.5rem;
}

h1 span {
    font-weight: 700;
    font-size: 2.5rem;
}

p {
    color: #FFFFFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2.5rem;
}

main a {
    color: #FFFFFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #9846A0;
    padding: 0.75rem 1.5rem;
}

/* Header */

header {
    background-color: #9846A0;
    margin-bottom: 2rem;
}

header div.inner-container {
    align-items: center;
    padding: 1rem;
}

.logo {
    width: 8.3125rem;
    height: auto;
}

.toggle-btn {
    width: 2.375rem;
    height: 2.9375rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.shopping-bag {
    width: 1.5rem;
    height: auto;
}

/* Navigation */

.menu li a {
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.5rem;
    text-transform: uppercase;
    text-decoration: none;
    text-decoration: none;
    text-align: center;
    display: block;
}

.menu li {
    border-bottom: 1px solid #CECBCB;
}

.menu li:first-of-type {
    border-top: 1px solid #CECBCB;
}

.menu li a:hover,
.menu li a:focus,
.menu li a:active {
    background-color: #A258A9;
}

header nav {
    position: absolute;
    top: 4.9375rem;
    left: 0;
    width: 100vw;
    background-color: #9846A0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
}

/* Has to have higher specificity to override reset.css */
header div nav ul.menu {
    padding: 0 1rem 2.5rem 1rem;
}

.show-nav {
    max-height: 100vh;
}

/* Media Queries */

@media screen and (min-width: 48.75rem) {
    .inner-container {
        max-width: 64rem;
        margin: 0 auto;
        padding: 1rem;
    }

    .toggle-btn {
        display: none;
    }

    header nav {
        position: static;
        max-height: unset;
        overflow: visible;
    }

    .menu,
    header .inner-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .menu li a {
        padding: 0 .5rem;
        border-radius: .3125rem;
    }

    header div nav ul.menu {
        padding: .5rem 0;
    }

    .menu li,
    .menu li:first-of-type {
    border: none;
    }

    header div.inner-container {
        padding-bottom: 0;
    }

    header {
        margin-bottom: 2.25rem;
    }

    main section.inner-container div {
        max-width: 30.5rem;
    }
}