
/* Utility */

body {
    background: linear-gradient(90deg, #46A098 0%, #54A654 100%);
    font-family: "PT Sans", sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.inner-container {
    margin: 0 auto;
    max-width: 1820px;
    padding: 0 1rem;
}

/* Header */

header {
    background-color: #9846A0;
    color: #ffffff;
}

header div.inner-container {
    align-items: center;
    padding: 1rem;
}

.menu li a {
    color: #FCBF49;
    text-decoration: none;
    display: block;
}

.menu li a:hover,
.menu li a:active {
    background-color: #A258A9;
}

.logo {
    width: 8.3125rem;
    height: auto;
}

.toggle-btn {
    width: 2.375rem;
    height: 2.9375rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.shopping-bag {
    width: 1.5rem;
    height: auto;
}

header nav {
    position: absolute;
    top: 4.125rem;
    left: 0;
    width: 100vw;
    background-color: #9846A0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
}

.show-nav {
    max-height: 100vh;
}

/* Media Queries */

@media screen and (min-width: 37.5rem) {
    .inner-container {
        max-width: 64rem;
        margin: 0 auto;
        padding: 1rem;
    }

    .toggle-btn {
        display: none;
    }

    header nav {
        position: static;
        /* Return nav to html from position absolute */
        width: auto;
        max-height: unset;
        overflow: visible;
    }

    .menu,
    header .inner-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .menu a:hover,
    .menu a:active {
        background-color: unset;
        color: #F77F00;
    }
}